<div class="card post" data-id="<%= bulletin_post.id %>">
  <%= image_tag bulletin_img(bulletin_post.thumb_image, 'thumb'), :class => "car-img-top" %>
  <div class="card-body">
    <h4 class="header"><%= link_to bulletin_post.title, bulletin_show_path(bulletin_post.id) %></h4>
    <p class="card-text text-left"><%= bulletin_post.body %></p>
    <div>
      <%= link_to "Edit", edit_bulletin_path(bulletin_post.id), :class => "btn btn-primary" if logged_in?(:site_admin) %> 
      <%= link_to "Delete", bulletin_path(bulletin_post), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" if logged_in?(:site_admin) %>
    </div>  
  </div>
</div>

