<%= render 'shared/nav' %>

<div class="main-card-layout">
  <div class="card">
    <h1>Bulletin Board</h1>
  </div>
  
  <div class="card">
    <%= link_to "Create New Post", new_bulletin_path %>

    <% @bulletin_posts.each do |bulletin_post| %>
      <p><%= bulletin_post.title %></p>
      <p><%= bulletin_post.body %></p>
      <p><%= image_tag bulletin_post.thumb_image unless bulletin_post.thumb_image.nil? %></p>
      <%= link_to "Edit Post", edit_bulletin_path(bulletin_post.id) %>
    <% end %>
  </div>
  
</div>
  