<div class="main-card-layout">
  <div class="title-container">
    <h1 id="title">Stansbury Service Agency</h1>
    <h4>Upcoming Activities & Announcements</h4>
  </div>
  
  <% if user_signed_in? %>
    <%= content_tag :div, class: "title-container" do %>
      <%= content_tag :h2 do %>
        Hi, <%= current_user.first_name %>
      <% end %>
      
      <%= link_to "Create New Post", new_bulletin_path, :class => "btn btn-primary" if logged_in?(:site_admin) %>
    <% end %>
  <% else %>
    <% nil %>
  <% end %>  
  
  <div class="container">
    <div class="columns <%= "sortable" if logged_in?(:site_admin) %>">
      <% @bulletins.each do |item| %>
        <div class="card post" data-id="<%= item.id %>">
          <%= image_tag item.thumb_image, :class => "car-img-top" %>
          <div class="card-body">
            <h4 class="header"><%= link_to item.title, bulletin_show_path(item.id) %></h4>
            <p class="card-text text-left"><%= item.body %></p>
            <div>
              <%= link_to "Edit", edit_bulletin_path(item.id), :class => "btn btn-primary" if logged_in?(:site_admin) %> 
              <%= link_to "Delete", bulletin_path(item), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" if logged_in?(:site_admin) %>
            </div>  
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>