<div class="main-card-layout">
  <div class="card">
    <h1 id="title">Upcoming Activities & Announcements</h1>
  </div>
  
  <% if user_signed_in? %>
    <%= content_tag :div, class: "card" do %>
      <%= content_tag :h2 do %>
        Hi, <%= current_user.first_name %>
      <% end %>
      
      <%= link_to "Create New Post", new_bulletin_path, :class => "btn btn-primary" if logged_in?(:site_admin) %>
    <% end %>
  <% else %>
    <% nil %>
  <% end %>
  
  
  <div id="container">
    <div id="columns">
      <% @bulletin_posts.each do |bulletin_post| %>
        <div class="card post">
          <%= image_tag bulletin_post.thumb_image, :class => "car-img-top" %>
          <div class="card-body">
            <h4><%= link_to bulletin_post.title, bulletin_show_path(bulletin_post.id) %></h4>
            <p class="card-text text-left"><%= bulletin_post.body %></p>
            <div>
              <%= link_to "Edit", edit_bulletin_path(bulletin_post.id), :class => "btn btn-primary" if logged_in?(:site_admin) %> 
              <%= link_to "Delete", bulletin_path(bulletin_post), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" if logged_in?(:site_admin) %>
            </div>  
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>