<div class="main-card-layout">
  <div class="card">
    <h1 id="title">Upcoming Activities & Announcements</h1>
  </div>
  
  <% if user_signed_in? %>
    <%= content_tag :div, class: "card" do %>
      <%= content_tag :h2 do %>
        Hi, <%= current_user.first_name %>
      <% end %>
      
      <%= link_to "Create New Post", new_bulletin_path, :class => "btn btn-primary" if logged_in?(:site_admin) %>
    <% end %>
  <% else %>
    <% nil %>
  <% end %>
  
  
  <div class="container">
    <div id="columns" class="<%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'bulletin_post', collection: @bulletin_posts %>
    </div>
  </div>
</div>