<%= render 'shared/nav' %>

<div class="main-card-layout">
  <div class="card">
    <h1>Bulletin Board</h1>
  </div>
  
  <div class="card">
    <%= link_to "Create New Post", new_bulletin_path %>
  </div>
  
  <% @bulletin_posts.each do |bulletin_post| %>
    <div class ="card">
      <h4><%= link_to bulletin_post.title, bulletin_show_path(bulletin_post.id) %></h4>
      <p><%= bulletin_post.body %></p>
      <p><%= image_tag bulletin_post.thumb_image unless bulletin_post.thumb_image.nil? %></p>
      <%= link_to "Edit", edit_bulletin_path(bulletin_post.id) %>
      <%= link_to "Delete", bulletin_path(bulletin_post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  
</div>
  