<%= render 'shared/nav' %>

<div class="main-card-layout">
  <div class="card">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag bulletin_img(@bulletin_post.thumb_image, 'main'), width: '100%' %>
      </div>
      
      <div class="col-md-5">
        <h1 class="title"><%= @bulletin_post.title %></h1>
        
        <hr>
      
        <%= @bulletin_post.body %>
      </div>
    </div>
    
    <div class="float-right">
      <%= link_to "Back", bulletins_path, class: 'btn btn-primary float-right' %>
    </div>
  </div>
</div>

