<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <% if user_signed_in? %>
    <%= link_to image_tag("logo.png", :id => "logo"), destroy_user_session_path, method: :delete, :class => "navbar-brand" %>
  <% else %>
    <%= link_to image_tag("logo.png", :id => "logo"), new_user_session_path, :class => "navbar-brand" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, :class => "nav-link #{active? root_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, :class => "nav-link #{active? about_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Meeting Minutes", meeting_minutes_path, :class => "nav-link #{active? meeting_minutes_path}" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clubhouse</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <h6 class="dropdown-header">Information</h6>
            <%= link_to "General Information", clubhouse_general_information_path, :class => "dropdown-item" %>
            <%= link_to "Clubhouse Calendar", clubhouse_calendar_path, :class => "dropdown-item" %>
            <%= link_to "Hours of Operation", clubhouse_hours_path, :class => "dropdown-item" %>
            <%= link_to "Reading Room", clubhouse_reading_room_path, :class => "dropdown-item" %>
            
          <div class="dropdown-divider"></div>
          
          <h6 class="dropdown-header">Rental</h6>
            <%= link_to "Clubhouse Policy", clubhouse_policy_path, :class => "dropdown-item" %>
            <%= link_to "Rental Rules", clubhouse_rental_rules_path, :class => "dropdown-item" %>
            <%= link_to "Rental Fees", clubhouse_rental_fees_path, :class => "dropdown-item" %>
            <%= link_to "Contact for Rental/Scheduling", clubhouse_rental_contact_path, :class => "dropdown-item" %>
            <%= link_to "Cleaning/Check-Out List", clubhouse_check_out_list_path, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Greenbelts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <%= link_to "General Information", greenbelt_general_information_path, :class => "dropdown-item" %>
          <%= link_to "Rules", greenbelt_rules_path, :class => "dropdown-item" %>
          <%= link_to "Millpond Nature Trail", greenbelt_millpond_trail_path, :class => "dropdown-item" %>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lake</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <%= link_to "General Information", lake_general_information_path, :class => "dropdown-item" %>
          <%= link_to "Rules", lake_rules_path, :class => "dropdown-item" %>
          <%= link_to "Private Boat Dock Approval", lake_dock_approval_path, :class => "dropdown-item" %>
          <%= link_to "Lake Mowing Schedule", lake_mowing_schedule_path, :class => "dropdown-item" %>
          <%= link_to "Fishing",  lake_fishing_path, :class => "dropdown-item" %>
          <%= link_to "Millpond", lake_millpond_path, :class => "dropdown-item" %>
          <%= link_to "Feeding the Waterfowl", lake_feeding_waterfowl_path, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Swimming Pool</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <%= link_to "General Information", swimming_pool_general_information_path, :class => "dropdown-item" %>
          <%= link_to "Rules", swimming_pool_rules_path, :class => "dropdown-item" %>
          <%= link_to "Hours of Operation", swimming_pool_hours_path, :class => "dropdown-item" %>
          <%= link_to "Admission Fees", swimming_pool_admission_path, :class => "dropdown-item" %>
          <%= link_to "Season Passes", swimming_pool_season_pass_path, :class => "dropdown-item" %>
          <%= link_to "Party Rental", swimming_pool_party_rental_path, :class => "dropdown-item" %>
          <%= link_to "Swimming Lessons", swimming_pool_swimming_lessons_path, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parks</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
          <%= link_to "General Information",   parks_general_information_path, :class => "dropdown-item" %>
          <%= link_to "All Parks", parks_all_parks_path, :class => "dropdown-item" %>
          <%= link_to "Park Rules",  parks_rules_path, :class => "dropdown-item" %>
          <%= link_to "Hours of Operation", parks_hours_path, :class => "dropdown-item" %>
          <%= link_to "Pavilion Rental Fees", parks_pavilion_fees_path, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Golf Course", golf_course_path, :class => "nav-link #{active? golf_course_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Cemetery", cemetery_path, :class => "nav-link #{active? cemetery_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "S.P.O.C.", spoc_path, :class => "nav-link #{active? spoc_path}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Community Links", community_links_path, :class => "nav-link #{active? community_links_path}" %>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              
              <h6 class="dropdown-header">General</h6>
              <%= link_to "Employment Application", asset_path("Employment_Application.pdf"), :class => "dropdown-item", :target => "_blank" %>
              <%= link_to "Sign Approval", asset_path("Sign_Approval_Form.pdf"), :class => "dropdown-item", :target => "_blank" %>
              
              <div class="dropdown-divider"></div>
              
              <h6 class="dropdown-header">Clubhouse</h6>
              <%= link_to "Clubhouse Free Use Agreement", asset_path("Clubhouse_Free_Use_Agreement.pdf"), :class => "dropdown-item", :target => "_blank" %>
              <%= link_to "Clubhouse Rental Agreement", asset_path("Stansbury_Park_Clubhouse_Rental_Agreement.pdf"), :class => "dropdown-item", :target => "_blank" %>
              
              <div class="dropdown-divider"></div>
              
              <h6 class="dropdown-header">Lake</h6>
              <%= link_to "Watercraft Registration", asset_path("Boat_Registration.pdf"), :class => "dropdown-item", :target => "_blank" %>
              
              <div class="dropdown-divider"></div>
              
              <h6 class="dropdown-header">Parks</h6>
              <%= link_to "Pavilion Rental Agreement", asset_path("Pavilions_Rental_Agreement.pdf"), :class => "dropdown-item", :target => "_blank" %>
              <%= link_to "Bounce House Policy/Use Agreement", asset_path("Bounce_House_Policy.pdf"), :class => "dropdown-item", :target => "_blank" %>
              
              <div class="dropdown-divider"></div>
              
              <h6 class="dropdown-header">Sports</h6>
              <%= link_to "Organized Sports Policy", asset_path("Organized_Sports_Policy.pdf"), :class => "dropdown-item", :target => "_blank" %>
              <%= link_to "Sports Facility Use Agreement", asset_path("Sports_Facility_Use_Agreement.pdf"), :class => "dropdown-item", :target => "_blank" %>
            </div>
          </li>
      <li class="nav-item">
        <%= link_to "Contact Us", contact_path, :class => "nav-link #{active? contact_path}" %>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>