<div>
  <%= link_to "Home", root_path %>
  <%= link_to "About Us", about_path %>
  <%= link_to "Clubhouse", clubhouse_path %>
  <%= link_to "Greenbelts", greenbelts_path %>
  <%= link_to "Lake", lake_path %>
  <%= link_to "Swimming Pool", swimming_pool_path %>
  <%= link_to "Parks", parks_path %>
  <%= link_to "Forms", forms_path %>
  <%= link_to "Golf Course", golf_course_path %>
  <%= link_to "Cemetery", cemetery_path %>
  <%= link_to "Community Links", community_links_path %>
  <%= link_to "Contact Us", contact_path %>
</div>