<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StansburyPark</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway" rel="stylesheet">

    <%= stylesheet_link_tag    'bulletins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= render 'shared/nav' %>
       
    <div class="container">
      <div class="starter-template">
        
        <%= video_tag_helper 'Up.mp4', 'Up.jpg'%>
        
        <%= yield %>
        
      </div>
    </div>
  </body>
</html>
